extends layout

block content
    .span12
        .page-title
            .opts.pull-right
                a(href="/add")
                    i.icon-plus
                    | 添加景点
            h3=title
        table.table.table-bordered.table-striped
            tr
                th 公布
                th 城市
                th 气候
                th 名称
                th(width="230") 内容
                th(width="68") 操作